!!!
%html
 %head

 %body
   .notification
    .notice チャットグループが作成されました。

   .chat-side
    .chat-side__user
     .chat-side__user-content
      .chat-side__user-name
       test
       =link_to
        %i.fa.fa-pencil-square-o
       =link_to
        %i.fa.fa-cog

    .chat-side__groups
     .chat-side__groups-list
      .chat-side__group
       .chat-side__group-name
        %p sampleグループ

       .chat-side__group-message
        %p まだメッセージはありません。

   .chat-main
    .chat-main__header
     .chat-main__header--group-clearfix
      .chat-main__header--group-name
      %p sampleグループ
      =link_to
     .chat-main__header-members
     MEMBER:メンバー

    .chat-main__body
     .chat-main__body--messages-list
      .chat-main__body--messages
	     .chat-main__body--message-name
	      testname
	     .chat-main__body--message-time
	      2019/01/01 20:00:00
	     .chat-main__body--message-message
	      Hello!


    .chat-main__footer
     %form.chat-main__footer-form
      .chat-main__footer-body
       %input.message{ placeholder: 'type a message', type: 'text'}
      %input.submit{ type: 'submit',value: 'send'}

