<div class='chat-group-form'>
  <h1>チャットグループ編集</h1>
  <form class="edit_chat_group" id="edit_chat_group_22" action="/chat_groups/22" accept-charset="UTF-8" method="post">
    <div class="chat-group-form__errors">
      <h2>1件のエラーが発生しました。
      <ul>
        <li>エラーです</li>
      </ul>
    </div>
    <div class='chat-group-form__field clearfix'>
      <div class='chat-group-form__field--left'>
        <label class="chat-group-form__label" for="chat_group_name">グループ名</label>
      </div>
      <div class='chat-group-form__field--right'>
        <input class="chat-group-form__input" placeholder="グループ名を入力してください" type="text" value="ほげー" name="chat_group[name]" id="chat_group_name" />
      </div>
    </div>
    <div class='chat-group-form__field clearfix'>
      <!-- この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します  -->
      <!-- <div class='chat-group-form__field--left'>
        <label class="chat-group-form__label" for="chat_group_チャットメンバーを追加">チャットメンバーを追加</label>
      </div>
      <div class='chat-group-form__field--right'>
        <div class='chat-group-form__search clearfix'>
          <input class='chat-group-form__input' id='user-search-field' placeholder='追加したいユーザー名を入力してください' type='text'>
        </div>
        <div id='user-search-result'></div>
      </div> -->
    </div>
    <div class='chat-group-form__field clearfix'>
      <div class='chat-group-form__field--left'>
        <label class="chat-group-form__label" for="chat_group_チャットメンバー">チャットメンバー</label>
      </div>
    </div>
    <div class='chat-group-form__field clearfix'>
      <div class='chat-group-form__field--left'></div>
      <div class='chat-group-form__field--right'>
        <!-- グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください  -->
        <input type="submit" name="commit" value="Save" class="chat-group-form__action-btn" data-disable-with="Save" />
      </div>
    </div>
  </form>
</div>
