.side-bar {
  box-sizing: border-box;
  color: $white;
  height: 100vh;
  width: 300px;
  float: left;
  .header {
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: $white;
        font-size: $side_header_font;
      }
    }
  }

  .groups {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    overflow: scroll;
    .group {
      box-sizing: border-box;
      padding: 20px;
      a {
        text-decoration: none;
        color: $white;
      }
      &__name {
        color: $white;
        font-size: $side_group_name;
      }
      &__message {
        color: $white;
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}